// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$black-bold: 900;

// Colors
$ui_bg: #f2f2ff;
$white: #fff;
$primary: #7F56D9;
$content: #262626;
$heading: #000;
$label: #5e5e5e;
$blue: #0073e6;
$blue2: #0056b3;
$border: #ddd;

// Border Radius
$radius: 16px;

// Common transition
$transition: all 300ms ease-in-out;



$parent-class: ".post-type-formit";

// #{$parent-class}


