.formit-form.template-basic {
  * {
    box-sizing: border-box;
  }
  font-size: 16px;
  line-height: 1.5;
  label {
    display: block;
    font-size: 1em;
    margin-bottom: 8px;
  }
  input {
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 6px;
    margin-bottom: 1rem;
    &[type="checkbox"], &[type="radio"] {
      display: inline-block;
      width: initial;
      &+label {
        display: inline-block;
        width: initial;
      }
    }
  }
  select {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1em;
    margin-bottom: 1rem;
  }
  input[type="submit"], button[type="submit"]{
    padding: 8px 16px;
    font-size: 1em;
    cursor: pointer;
  }
  
}